<script setup>
  import DemoGrid from './Grid.vue'
  import RegionTable from './RegionTable.vue'
</script>

<script>

export default {
  data: () => ({
    count : null,
    arr : [],
    searchQuery: '',
    gridColumns: ['student_id', 'fname', 'surname', 'district', 'province'],
  }),

  created() {
    // fetch on init
    this.handleInput();
  },

  watch: {
    // re-fetch whenever currentBranch changes
  },

  methods: {
    handleInput(regionId){
      let data = { 'region_id': regionId};
      console.log('Input:', data);
      fetch('http://kmitl.japaneast.cloudapp.azure.com/alumni/search', {
        method: 'POST', 
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json().then(data => ({status: response.status, body: data})))
      .then(data => {
        console.log('Success:', data);
        this.count=data.body.header.count_alumni; //this.count จำนวน
        this.arr=data.body.detail; //เรียกออกแล้ว เย้!
        console.log('Success count:', this.count); //ดูข้อมูล count ใน console ได้
        console.log('Success arr:', this.arr); //ดูข้อมูล arr ใน console ได้
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }
  }

}
</script>

<template>
  <div class="container-fluid">
    <!-- Image and text -->
    <nav class="navbar  sticky-top  navbar-light bg-light">
      <a class="navbar-brand" href="#"> 
        <img src="../assets/com_logo_header.png" width="35" height="38" class="d-inline-block align-top" alt="">
        OS Alumni
      </a>
    </nav>
    <br><br>
    <RegionTable :method="handleInput"/>
    <br><br>
    <h1 class="green">ระบบ active KMITL.CS alumni</h1> 
    <h2>ผลลัพธ์ {{this.count}}</h2> 
    <br><br>
    <!--แถบค้นหา-->
    <form id="search">
      <div class="form-group">
        <h4> Search </h4>
        <input name="query" v-model="searchQuery" class="form-control" placeholder="พิมพ์เพื่อค้นหา">
      </div>
    </form>
      <br><br>
    <!--ตาราง-->
    <DemoGrid
      :data="arr"
      :columns="gridColumns"
      :filter-key="searchQuery">
    </DemoGrid>
  </div>
</template>

<style scoped>
  h1,h2{
    font-family: 'Sarabun', sans-serif;
  }
  a{
    font-family: 'Sarabun', sans-serif;
    font-size:x-large;
    font-weight: bold; /*แก้ก็ดี*/
  }

</style>