<script setup>

</script>

<script>

export default {
  props: {
    method: { type: Function }
  },

data: () => ({
    reg: null, //ใช้รับค่าจากหลังบ้าน
    list: [   //ใช้เปลี่ยนรูปและชื่อภาค
      { num:0,id:'01',nam:"ภาคตะวันตก",pic:"../../public/img/mapW.png"}, //ยังต้องแก้รูป
      { num:1,id:'02',nam:"ภาคเหนือ",pic:"../../public/img/mapN.png"}, //ยังต้องแก้รูป
      { num:2,id:'03',nam:"ภาคตะวันออกเฉียงเหนือ",pic:"../../public/img/mapNE.png"},
      { num:3,id:'04',nam:"ภาคใต้",pic:"../../public/img/mapS.png"},
      { num:4,id:'05',nam:"ภาคกลาง",pic:"../../public/img/mapC.png"},
      { num:5,id:'06',nam:"ภาคตะวันออก",pic:"../../public/img/mapE.png"}, //ต้องทำรูปเพิ่ม
      { num:6,id:'',nam:"ประเทศไทย",pic:"../../public/img/map.png"},
    ],
    nam: "ประเทศไทย", //ตั้งเป็นค่า default
    pic: "../../public/img/map.png" //ตั้งเป็นค่า default
  }),


  created() {
    // fetch on init
    console.log('reg');
    this.handleInputR();
  },

  methods: {
    handleInputR(){
      fetch('http://kmitl.japaneast.cloudapp.azure.com/alumni/zone', {
        method: 'POST', 
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then(response => response.json().then(data => ({status: response.status, body: data})))
      .then(data => {
        console.log('Success:', data);
        this.reg=data.body;
        console.log('Success co:', this.reg);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    },
    handleMap(num){
        this.nam = this.list[num].nam; //change region name
        this.pic = this.list[num].pic; //change picture path
        this.method(this.list[num].id); //call method handleInput(regionId) in Home.vue
    },
  }

}
</script>

<template>
  <div>
      <div class="row">
          <!--ฝั่งซ้าย-->
          <div class="col">
            <h1>{{this.nam}}</h1>
            <!--v-bind: ใช้หน้าตัวไหน ด้านใน "" จะเป็นการเรียกตัวแปร-->
            
                <img :src="this.pic" alt="pic" width="380" height="560" />
            
          </div>
          <!--ฝั่งขวา-->
          <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" v-on:click="this.handleMap(6)">
                    ทุกภาค
                </li>
                <!--แสดงข้อมูลภาคต่างๆใน array-->
                <li class="list-group-item list-group-item-action" v-for="(item, index) in reg" v-on:click="this.handleMap(index)">
                    <div class="col"> {{this.list[index].nam}} </div>
                    <div class="col"> <h2> {{item.count_region_all}} </h2></div>
                </li>
            </ul>
          </div>
      </div>
  </div>
</template>

<style scoped>

    li{
      font-family: 'Sarabun', sans-serif;
      cursor: pointer;
    }
    h1,h2{
    font-family: 'Sarabun', sans-serif;
    }
</style>