<script setup>
import Home from './components/Home.vue'
</script>

<template>
  <header>

  </header>

  <main> 
    
    <Home />
    
   
  </main>
</template>

<style>
@import './assets/base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0;
  font-weight: normal;
  
}

header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

a,
.green {
  text-decoration: none;
  color: rgb(238, 122, 55);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(32, 100%, 69%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: flex-start;
    width: 100vw;
    
  }

  #app {
    
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    padding: 0 0;
  }

  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
    
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .logo {
    margin: 0 2rem  0;
  }
}
</style>
